<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      label {
        display: block;
        margin-top: 5px;
      }
      form {
        border: 1px solid #ddd;
        padding: 5px;
        width: 225px;
        background: #efefef;
      }
      input,
      textarea,
      select,
      option {
        min-width: 200px;
      }
    </style>
  </head>
  <body>
    <!-- https://vuejs.org/v2/guide/forms.html#Multiline-text  -->
    <div id="app">
      <form @submit="submitForm($event)">
        <p v-if="errors.length">
          <b>Please correct the following errors: </b>
          <ul>
            <li v-for="error in errors">
                {{error}}
            </li>
          </ul>
        </p>
        <label>Title : {{title}}</label>
        <input type="text" name="title" ref="title" v-model="title" />
        <label>Description : {{desc}} </label>
        <textarea v-model="desc" ref="desc" name="desc"></textarea>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          title: "",
          desc: "",
          errors: [],
        },
        methods: {
          submitForm: function (event) {
            event.preventDefault();

            this.errors = [];
            if (this.title.length < 5) {
              this.errors.push('Title minimal 5 karakter')
              this.$refs.title.focus();
            } if (this.desc.length > 25) {
              this.errors.push('Desc maksimal 25 karakter')
              
              this.$refs.desc.focus();
            }

            if (this.errors.length === 0) {
              alert("Thanks");
            }
          },
        },
      });
    </script>
  </body>
</html>
