<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" :value="message" />
      <p>{{message}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Du bist einzigartigs",
        },
        computed: {
          b() {
            return this.a + 1;
          },
        },
        methods: {
          c(number) {
            this.a = this.a + number;
          },
          notif(param) {
            alert(param);
          },
        },
      });
    </script>
  </body>
</html>
